<div id="header"><h1>Temperatures</h1></div>
<div id="wrapper">
<table>
  <thead>
    <tr>
      <th>Type</th>
    </tr>
  </thead>

  <tbody>
    <% @temperatures.each do |temperature| %>
      <tr>
        <td><%= temperature.Type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>