<div id="header"><h1>Dosha Action</h1></div>
<div id="wrapper">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Dosha:</strong>
	  <%= @dosha_action.Dosha %>
	</p>
<%= link_to 'Edit', edit_dosha_action_path(@dosha_action) %> |
<%= link_to 'Back', dosha_actions_path %>
</div>