#header {
    position: relative;
    top: -10px;
    background-color: #00A0B0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
	height: 40px;
}

h1 {
    font-family: Lobster;
    color: #FFFFFF;
    text-align: center;
}

p {
    font-family: Verdana, Arial, sans-serif;
    display: inline-block;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    position: relative;
    top: -10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    box-shadow: 3px 3px 3px #444;
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.8em;
}