<div id="header"><h1>Properties</h1></div>
<div id="wrapper">
	<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.Name %>
</p>
<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
</div>