/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 /* Base Elements */
hr {
    color: ccc;
    width: 85%;
    text-align: center;
}

h1, h2 {
    font-family: Lobster;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    padding-top: 8px;
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    text-align: center;
}

p {
    font-family: Verdana, Arial, sans-serif;
    display: inline-block;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Lists */
ul {
    list-style-type: none;
}

li {
    display: inline-block;
    color: #00A0B0;
    margin: 0 1.5% 0 1.5%;
}

/* Links */
a {
  text-decoration: none;
  background-color: #ddd;
}

a:link {}      /* unvisited link */
a:visited {}  /* visited link */
a:hover {
  background-color: #fff;
  color: #ddd;
  }  /* mouse over link */

#wrapper a {
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 8px;
}

li.navigation a {
  background-color: #fff;
  color:#666;
}

li.navigation a:hover {
  background-color: #666;
  color: #fff;
}

/* Tables */
table {
  width: 100%;
  margin: auto;
  font-size: 1em;
}

th {
  font-size: 1.2em;
}

/* Architecture */
#header {
  position: relative;
  top: -10px;
  background-color: #00A0B0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 40px;
}

#wrapper {
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  position: relative;
  top: -10px;
  padding: 10px 0 20px 20px;
  font-family: Verdana, Arial, sans-serif;
}